<h1 id="greeting">Penney's Task Manager</h1>

<div class="container well col-md-3 col-md-offset-4">
  <ul class="dashboard">
    <li><a href='/tasks'>See your tasks</a></li>
    <li><a href='/tasks/new'>Add a new task</a></li>
  </ul>
</div>
